In [1]:
import numpy as np
import pandas
from matplotlib import pyplot as plt
import seaborn
%matplotlib inline

In [2]:
data = pandas.read_csv("all.csv", na_values="NaN")

In [3]:
data.head()

,868,1314,1,549,1356,2,1837,4476,2.1,879,...,11027,16000,10267,6156,8646,248.0,661.0,517.0,9073.0,3.2
0,987,1963,2,573,1219,2,2058,4027,1,1026,...,9213,14264,10247,5486,7132,294.0,520.0,438.0,7812.0,1
1,886,1573,1,530,1874,3,1149,3906,2,1192,...,8850,12932,8704,5578,7369,234.0,635.0,495.0,6307.0,1
2,768,1425,1,349,928,3,1961,4953,2,1221,...,10773,13043,9152,6381,6856,304.0,648.0,407.0,8027.0,1
3,876,1528,1,598,1455,2,1856,4405,2,1301,...,10824,16317,11619,7571,8635,344.0,599.0,505.0,8802.0,1
4,619,1601,2,606,1566,3,1585,4235,2,1208,...,8684,13348,8389,6093,7969,148.0,498.0,389.0,6751.0,3